<div class="flex h-screen flex-col items-center justify-center">
<h1 class="mb-4 text-6xl font-semibold text-red-500">404</h1>
<p class="mb-4 text-lg text-gray-500">Oops! looks like you're lost</p>
<div class="animate-bounce">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" file="none" stroke="currentColor" class="mx-auto h-16 w-16 text-red-500">
        <path stroke-linecap="round" stroke-linejoin="round"  d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
    </svg>
</div>
<p class="mt-4 text-gray-500">Let's get you back <a routerLink="/indicateur" routerLinkActive="active" class="cursor-pointer text-blue-600">Regle PVV</a></p>
</div>
